---
---

<footer
  class='w-full flex items-center justify-evenly py-10 laptop-lg:py-16 bg-slate-700'
  id='contact'
>
  <section class=''>
    <h3
      class='font-inter font-bold text-6xl text-transparent bg-clip-text bg-gradient-to-br from-violet-400 to-pink-400 mb-3'
    >
      Social
    </h3>
    <ul class='text-white font-inter laptop-lg:flex'>
      <div class='flex items-center my-1'>
        <i class='ri-whatsapp-line text-5xl mr-1'></i><a
          href='https://wa.me/5218683845391?text=Me%20gustaría%20ponerme%20en%20contacto%20contigo'
          target='_blank'
          class='text-3xl'>WhatsApp</a
        >
      </div>

      <div class='flex items-center my-1 mx-5'>
        <i class='ri-github-fill text-5xl mr-1'></i><a
          href='https://github.com/barbosa0205'
          target='_blank'
          class='text-3xl'>GitHub</a
        >
      </div>

      <div class='flex items-center my-1 mx-5'>
        <i class='ri-linkedin-box-fill text-5xl mr-1'></i><a
          href='https://www.linkedin.com/in/jose-luis-barbosa-cepeda-a41713253/'
          target='_blank'
          class='text-3xl'>Linkedin</a
        >
      </div>
    </ul>
  </section>
  <!-- <section class=''>
    <h3
      class='font-inter font-bold text-3xl text-indigo-300 text-transparent bg-clip-text bg-gradient-to-br from-violet-400 to-pink-400'
    >
      Social
    </h3>
    <ul class='text-white font-inter'>
      <p>Linkedin</p>
      <p>Whatsap</p>
      <p>Github</p>
    </ul> -->
</footer>
