<section id='about' class='w-full mx-auto bg-slate-800 pt-14 pb-10'>
        <h2
          class='text-6xl tablet:text-7xl tablet-lg:text-8xl laptop:text-9xl font-bold font-inter text-white text-center mb-10'
         >
             Experiencia Profesional
        </h2>
     
        <!-- INFOTEC -->
        <div class="rounded-xl shadow-lg font-inter">
            <div class="px-6">
              <h3 class="text-3xl tablet:text-4xl font-bold text-white mb-2">Desarrollador Web Full Stack – INFOTEC</h3>
            <p class="text-white text-2xl mb-4">Febrero 2024 – Actualidad</p>
              
            <p
            class="text-center py-4 text-white font-semibold text-2xl tablet:text-3xl tablet-lg:text-4xl"
            >
            Me encargue de el desarrollo de interfaces y funcionalidades utilizando <strong class="text-pink-200">Vue.js con Quasar</strong> en el frontend, y <strong class="text-pink-200">PHP con Laravel 7+</strong> en el backend.
            </p>
           <br/>
            <h3 class="text-3xl tablet:text-4xl font-bold text-white mb-2">Proyectos en los que trabaje</h3>
            
            <div
        class="container w-full max-w-4xl tablet-lg:max-w-5xl laptop:max-w-6xl mt-10 bg-slate-700 rounded-xl px-5 py-5 mx-auto font-semibold"
      >
          <p
          class="text-center py-4 text-pink-50 font-inter text-2xl tablet:text-3xl tablet-lg:text-4xl"
          >
          <strong class="text-indigo-300">Proyecto de Inventarios:</strong> Sistema de gestión de bienes inmuebles de una secretaría, con control de estados, ubicaciones, y reportes de pérdidas o daños.
          </p>
         
      </div>

      <div
      class="container w-full max-w-4xl tablet-lg:max-w-5xl laptop:max-w-6xl mt-10 bg-slate-700 rounded-xl px-5 py-5 mx-auto font-semibold"
    >
        <p
        class="text-center py-4 text-pink-50 font-inter text-2xl tablet:text-3xl tablet-lg:text-4xl"
        >
        <strong class="text-indigo-300">IMR Gestión Académica:</strong> Panel administrativo para cursos, archivos, alumnos y estadísticas académicas (gráficas, calificaciones, matrícula, etc).
        </p>
       
    </div>

  <div
  class="container w-full max-w-4xl tablet-lg:max-w-5xl laptop:max-w-6xl mt-10 bg-slate-700 rounded-xl px-5 py-5 mx-auto font-semibold"
>
  <p
    class="text-center py-4 text-pink-50 font-inter text-2xl tablet:text-3xl tablet-lg:text-4xl"
  >
    <strong class="text-indigo-300">GEORELEX:</strong> Plataforma de monitoreo y control visual de todos los sistemas internos. Incluye un mapa interactivo con oficinas en México, EE.UU., Canadá y otros países.
    <br />
    <span class="text-white text-xl underline decoration-indigo-400 underline-offset-2 mt-2 inline-block">
      📣 Presentado públicamente en la conferencia matutina con Claudia Sheinbaum el 15 de febrero de 2025.
    </span>
  </p>
</div>
        </div>
  </section>
  