---
export interface Props {}

const {} = Astro.props
---

<section
  id='home'
  class='laptop-lg:w-full min-h-screen flex flex-col justify-center laptop-lg:flex-row laptop-lg:items-center mx-auto px-3'
>
  <div class='w-full flex flex-col items-center flex-wrap p-2 laptop:mx-2'>
    <h2
      class='font-extrabold font-inter text-4xl movil-lg:text-5xl text-slate-700 text-center tablet-lg:text-6xl laptop:text-7xl'
    >
      Hola, soy José Luis Barbosa
    </h2>
    <h1
      class='tablet-lg:max-w-7xl mt-5 pb-2 font-extrabold font-inter text-center text-6xl movil-lg:text-7xl tablet-lg:text-8xl laptop:text-9xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-pink-500'
    >
      Programador Web Frontend
    </h1>
    <p
      class='font-inter text-2xl movil-lg:text-3xl laptop:text-4xl text-neutral-700 text-center px-3 mt-6 movil-lg:mt-10 max-w-4xl laptop:max-w-5xl mx-auto'
    >
      Autodidacta y apasionado por las tecnologias
    </p>
  </div>
  <div class='w-full laptop:mx-2'>
    <img
      class='w-full max-w-xl movil-lg:max-w-xl tablet:max-w-2xl mx-auto tablet-lg:max-w-4xl laptop:max-w-5xl laptop-lg:max-w-7xl mt-5'
      src='/assets/Software Developer.svg'
      alt='illustration'
    />

    <!-- buttons -->
    <div class='w-full flex flex-col items-center justify-center'>
      <a
        href='#projects'
        class='text-white text-3xl tablet-lg:text-4xl w-5/6 max-w-xs movil-lg:max-w-sm movil-lg:p-4 py-3 tablet-lg:py-6 rounded-xl bg-slate-700 font-bold my-5 text-center'
        >Proyectos</a
      >

      <a
        class='underline underline-offset-1 mt-2 mb-10 text-slate-700 hover:text-purple-500 movil-lg:text-3xl tablet-lg:text-4xl'
        href='/src/assets/cv.pdf'
        target='_blank'>Descargar CV</a
      >
    </div>
  </div>
</section>

<style></style>
